<!DOCTYPE html>
<script src="https://vuejs.org/js/vue.js"></script>
<html lang="en">

<head id="header">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/deli-very.js" defer></script>
  <link rel="stylesheet" href="css/deli-very.css">

  <script type="text/javascript" src="js/menu.js" defer></script>
  <!-- <script src="js/js_script.js" defer></script> -->
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="css\style.css">

  <title> Welcome - Order your burger!</title>
  <h1 id="headerTitle">Welcome to BurgersOnline!</h1>
  <img id="headerImage" src="https://images.unsplash.com/photo-1505826759037-406b40feb4cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=389b86f2ff3c843ff691596ac59e6cc7&auto=format&fit=crop&w=752&q=80">
</head>

<body>
  <main>
    <div id="vueContent">
        <!-- Burger loop för den nya menyn!-->
        <ul class="Burger_section">
          <li v-for="Burger in burgerList">
            <p id="burger_name">{{Burger.name}}</p>
            <img :src ="Burger.img" width="300px" height="450px">
            <p> Burger Price: {{Burger.price}} </p>
            <p id="allergies" v-if="Burger.lactose"> Contains: Lactose </p>
            <p id="allergies" v-if="Burger.gluten"> Contains: Gluten </p>
            <p v-if="Burger.allergy_free"> Allergy friendly! </p>

            <label class="container"> Add to order <input v-model="burgerdetails.chosen_burger" :id="Burger.name" nane="chosen_burger" type="checkbox" :value="Burger.name" >
              <span class="checkmark"></span>
            </label>

            <!-- Iterate over all checkboxes, check if they are checked. Get getElementbyId.-->
          </li>
        </ul>

        <p>{{chosen_burger}}</p>


        <section id="CustomerInfo">
          <h2 id=CI_text>Customer Information</h2>
          <p id=CI_text>Please, fill in information for delivery & receipt in the fields below</p>

          <form id=CI_text>
            <h4> Delivery and Customer Information </h4>
            <p>
              <label for="Name">Name</label><br>
              <input id="CI_input" v-model=burgerdetails.fullname type="text" id="Name" name="name" required="required" placeholder="Type your full name here...">
            </p>
            <p>
              <label for="Email">E-mail</label><br>
              <input id="CI_input" v-model="burgerdetails.email" type="text" id="Email" name="email" placeholder="Type your email for receipt...">
            </p>
            <!--  <p>
            <label for="Street">Street</label><br>
            <input id="CI_input" type="text" id="Street" name="street" required="required" placeholder="Type the delivery street...">
          </p>
          <p>
          <label for="HouseNumber">House Number</label><br>
          <input id="CI_input" type="numbers" id="HouseNumber" name="housenumber" required="required" placeholder="Type the house number...">
          <p/>
        -->
      </form>

      <!--KARTAN ????

      <div class="view-box">
        <div id="dots" v-on:click="addOrder">
          <div id="orders">
            <div id="orderList">

              <div
              v-for="(order, key) in orders"
              v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              #{{ key }}: {{ order.orderItems.join(", ") }}

              {{key}}

            </div>
          </div>
        </div>
      </div>
    </div>
-->


      <div id=CI_text>
        <label for="payment">Payment Options</label><br>
        <select v-model="burgerdetails.payment" id="CI_input" id="payment" name="Paymemt">
          <option selected="selected">MasterCard</option>
          <option>VISA</option>
          <option>American Express</option>
          <option>Other... </option>
        </select>
      </div>
    </section>


    <div id="orders">
    <div id="orderList">
      <div v-for="(order, key) in orders">
        #{{ key }}: {{ order.orderItems.join(", ") }}
      </div>
    </div>
    <div id="dots">
        <div v-for="(order, key) in orders" v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
          {{ key }}
        </div>
    </div>
  </div>


  <section id="GenderSurvey">
    <h3>Gender Statistics Study</h3><p> Please select your gender by choosing one of the options listed below</p>
    <p>
      <input v-model="burgerdetails.gender" type="radio" id="Female" name="gender" checked="checked" value="1">
      <label for="Female">Female</label><br>
    </p>
    <p>
      <input v-model="burgerdetails.gender" type="radio" id="Male" name="gender" value="2">
      <label for="Male">Male</label><br>
    </p>
    <p>
      <input v-model="burgerdetails.gender" type="radio" id="Other" name="gender" value="3">
      <label for="Other">Do not wish to participate</label><br>
    </p>
  </section>


  <div id="orders">
    <button id="myButtonID" v-on:click="addOrder" type="submit"><img src="https://images.unsplash.com/photo-1509315703195-529879416a7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2539c60108dc7a87abf4eba1bcd021be&auto=format&fit=crop&w=750&q=80" width="300px"> <br /> Click here to place order!</button>
  </div>

<p class="conf" v-if="show"><p id="orderconf"> Order Confirmation</p>
  <p id="CustomerInformation"> Customer Information</p>
  <p> Name: {{burgerdetails.fullname}}</p>
  <p> Email: {{burgerdetails.email}} </p>
  <p> Deliver to: {{x}} x / {{y}} y </p>
  <p> Payment method: {{burgerdetails.payment}} </p>
  <p> Gender: {{burgerdetails.gender}} </p>
  <p id="CustomerInformation"> Order Summary</p>
  <div v-for="b in burgerdetails.chosen_burger"><li>{{b}}</li></div>

<hr> <!-- Detta är en linje -->
<footer> &copy; BurgersOnline - Your kitchen online!
  <p>
    <img id="footImage" src="https://images.unsplash.com/photo-1428660386617-8d277e7deaf2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d85cfa1d6d003f6e82f46bc5a394a592&auto=format&fit=crop&w=600&q=60">
  </p>
</footer>

</div>
</main>
</body>
</html>
